n8n workflow backups/GraphQL_API_Savings.json
{
  "name": "GraphQL API Savings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "77f0480e-bd50-4f13-9342-b9a162575f86",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const processedRecords = [];\n\n// Function to format the date to \"DD MMMM YYYY\"\nfunction formatDate(dateString) {\n  if (!dateString) return null; // Handle undefined or null date strings\n  const options = { day: '2-digit', month: 'long', year: 'numeric' };\n  return new Date(dateString).toLocaleDateString('en-GB', options);\n}\n\n// Check if items array is defined\nif (items && items.length > 0 && items[0].json && items[0].json.data && items[0].json.data.data && items[0].json.data.data.wallet__c) {\n  // Iterate over each item in the input array\n  for (const wallet of items[0].json.data.data.wallet__c) {\n    // Format the 'created' date field to \"DD MMMM YYYY\"\n    const formattedDate = formatDate(wallet.created);\n\n    processedRecords.push({\n      _id: wallet._id,\n      name: wallet.name.trim(),\n      mifosclientid__c: wallet.mifosclientid__c,\n      walo__c: wallet.walo__c,\n      wallet_id__c: wallet.wallet_id__c,\n      wallet_on__c: wallet.wallet_on__c,\n      created: formattedDate // Replace the original date with the formatted date\n    });\n  }\n}\n\nreturn processedRecords;\n"
      },
      "id": "7714dde1-4eb3-4159-bc29-5fe6d21e305f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        60
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "8755bd6b-f36a-41f2-a7f0-d47a7bcbf3b8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1100,
        -20
      ]
    },
    {
      "parameters": {
        "endpoint": "http://165.232.131.57:3000/graphql",
        "allowUnauthorizedCerts": true,
        "requestFormat": "json",
        "query": "=query{\n  wallet__c(filters:[[\"wallet_id__c\", \"=\", \"na\"]]){\n    _id\n    name\n    mifosclientid__c\n    walo__c\n    wallet_id__c\n    wallet_on__c\n    created\n  }\n}",
        "responseFormat": "string",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Origin",
              "value": "http://147.182.197.23:3000"
            },
            {
              "name": "X-Auth-Token",
              "value": "ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Authorization",
              "value": "Bearer apikey,ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Cookie",
              "value": "X-Space-Token=ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            }
          ]
        }
      },
      "id": "befe87bd-dfe6-45da-a693-c1702a76caf7",
      "name": "Pull Wallet details from Steedos",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://146.190.170.73:8443/fineract-provider/api/v1/savingsaccounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenantIdentifier",
              "value": "default"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic bWlmb3M6cGFzc3dvcmQ="
            },
            {
              "name": "User-Agent",
              "value": "insomnia/8.3.0"
            },
            {
              "name": "tenantIdentifier",
              "value": "default"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientId\": \"{{ $json.mifosclientid__c }}\",\n  \"productId\": 1,\n  \"locale\": \"en\",\n  \"dateFormat\": \"dd MMMM yyyy\",\n  \"submittedOnDate\": \"{{ $json.created }}\"\n}  ",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "dd56a0bc-cb91-4004-bba6-e9f1d28006dc",
      "name": "Create Savings Wallet In Mifos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        260
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "5J3yXvU8OHa3YPId",
          "name": "Mifos"
        }
      }
    },
    {
      "parameters": {
        "endpoint": "http://165.232.131.57:3000/graphql",
        "allowUnauthorizedCerts": true,
        "requestFormat": "json",
        "query": "=mutation {\n  wallet__c__update(id:\"{{ $('Merge').item.json._id }}\", doc:{wallet_id__c:\"{{ $json.savingsId }}\"}) {\n    _id\n    name\n    walo__c\n    wallet_on__c\n    wallet_id__c\n    mifosclientid__c\n    \n  }\n}    ",
        "responseFormat": "string",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Origin",
              "value": "http://147.182.197.23:3000"
            },
            {
              "name": "X-Auth-Token",
              "value": "ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Authorization",
              "value": "Bearer apikey,ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Cookie",
              "value": "X-Space-Token=ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            }
          ]
        }
      },
      "id": "9ac7f4cd-1c9d-46a9-b990-0f0b7e776d26",
      "name": "Send Savings ID back to Steedos",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1540,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://146.190.170.73:8443/fineract-provider/api/v1/savingsaccounts/{{ $json.savingsId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "approve"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "insomnia/8.3.0"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Basic bWlmb3M6cGFzc3dvcmQ="
            },
            {
              "name": "command",
              "value": "approve"
            },
            {
              "name": "fineract-platform-tenantid",
              "value": "default"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateFormat\": \"dd MMMM yyyy\",\n  \"locale\": \"en\",\n  \"approvedOnDate\": \"{{ $json.created }}\"\n\n} ",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d4e037e2-cf5a-4357-8988-fbc63e88ea70",
      "name": "Approve Savings Wallet In Mifos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "5J3yXvU8OHa3YPId",
          "name": "Mifos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://146.190.170.73:8443/fineract-provider/api/v1/savingsaccounts/{{ $json.savingsId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "activate"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "insomnia/8.3.0"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Basic bWlmb3M6cGFzc3dvcmQ="
            },
            {
              "name": "command",
              "value": "activate"
            },
            {
              "name": "fineract-platform-tenantid",
              "value": "default"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locale\": \"en\",\n  \"dateFormat\": \"dd MMMM yyyy\",\n  \"activatedOnDate\": \"{{ $json.changes.approvedOnDate }}\"\n}  ",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d7eaf5bc-5a31-4b94-bd21-01b233d0d05e",
      "name": "Activate Savings Wallet in Mifos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "5J3yXvU8OHa3YPId",
          "name": "Mifos"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pull Wallet details from Steedos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Savings Wallet In Mifos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Approve Savings Wallet In Mifos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Wallet details from Steedos": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Savings Wallet In Mifos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Approve Savings Wallet In Mifos": {
      "main": [
        [
          {
            "node": "Activate Savings Wallet in Mifos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Savings Wallet in Mifos": {
      "main": [
        [
          {
            "node": "Send Savings ID back to Steedos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a8b32b17-e324-4217-aa12-46b192999bdf",
  "id": "IpOApCutPxcxnL5Z",
  "meta": {
    "instanceId": "1b2627552cf67563e265c1f71ea7656c1f0fa12404f9dcfa1ca23532ded8d8e5"
  },
  "tags": []
}