n8n workflow backups/GraphQL_API_Savings_deposit_Transactions.json
{
  "name": "GraphQL API Savings deposit Transactions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "0dd54e62-9881-4be0-a223-682d07aee6f2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const jsonData = $json['data']['data']['wallet_txt__c'];\n\nfunction formatDate(dateString) {\n  const options = { year: 'numeric', month: 'long', day: 'numeric' };\n  return new Date(dateString).toLocaleDateString('en-GB', options);\n}\n\nif (jsonData && Array.isArray(jsonData)) {\n  const individualRecords = jsonData.map(wallet => {\n    const {\n      _id,\n      name,\n      wallet_id__c,\n      wallet_autonum__c,\n      w_amount__c,\n      w_receipt_number__c,\n      w_payment_mode__c,\n      w_payment_date__c,\n      transaction_status__c,\n      mifos_txt_status__c,\n      created\n    } = wallet;\n\n    const formattedPaymentDate = w_payment_date__c ? formatDate(w_payment_date__c) : null;\n    const formattedCreatedDate = created ? formatDate(created) : null;\n\n    return {\n      _id,\n      name,\n      wallet_id__c,\n      wallet_autonum__c,\n      w_amount__c,\n      w_receipt_number__c,\n      w_payment_mode__c,\n      w_payment_date__c: formattedPaymentDate,\n      transaction_status__c,\n      mifos_txt_status__c,\n      created: formattedCreatedDate,\n      mifos_wallet_id__c: wallet.mifos_wallet_id__c // Include the new field in the returned object\n    };\n  });\n\n  return individualRecords;\n} else {\n  return []; // Return an empty array if the data structure is not as expected\n}\n"
      },
      "id": "ad89c01c-dba4-4ee3-9433-84abae0e0ec3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "c895fa7a-59a7-4bf8-86b0-9c5a41462618",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1600,
        120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "00e353c1-f7c0-4805-a038-0877ded7d2d5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {},
      "id": "8db5e890-e668-48bd-ae2f-c5691a7f486e",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "9bc09304-2338-4c89-b1fd-f42883773dfc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        100
      ],
      "webhookId": "c6296d59-d516-414f-8e11-85b2d1ca83c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://146.190.170.73:8443/fineract-provider/api/v1/savingsaccounts/{{ $json.mifos_wallet_id__c }}/transactions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "deposit"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "insomnia/8.3.0"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Basic bWlmb3M6cGFzc3dvcmQ="
            },
            {
              "name": "command",
              "value": "deposit"
            },
            {
              "name": "fineract-platform-tenantid",
              "value": "default"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locale\": \"en\",\n  \"dateFormat\": \"dd MMMM yyyy\",\n  \"transactionDate\": \"{{ $json.w_payment_date__c }}\",\n  \"transactionAmount\": \"{{ $json.w_amount__c }}\",\n  \"paymentTypeId\": \"1\",\n  \"receiptNumber\": \"{{ $json.w_receipt_number__c }}\"\n \n}\n   ",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e17faced-8d03-43e0-a8cc-7e50af872b0c",
      "name": "Submit deposit in Mifos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        -100
      ],
      "retryOnFail": false,
      "notesInFlow": true
    },
    {
      "parameters": {
        "endpoint": "http://165.232.131.57:3000/graphql",
        "allowUnauthorizedCerts": true,
        "requestFormat": "json",
        "query": "=query{\n  wallet_txt__c(filters:[[\"mifos_txt_status__c\", \"=\", \"Not Created\"]]){\n    _id\n    name\n    wallet_id__c\n    wallet_autonum__c\n    w_amount__c\n    w_receipt_number__c\n    w_payment_mode__c\n    w_amount__c\n    w_payment_date__c\n    transaction_status__c\n    mifos_txt_status__c\n    wallet_id__c\n    mifos_txt_status__c\n    mifos_wallet_id__c\n    created\n  }\n}",
        "responseFormat": "string",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Origin",
              "value": "http://147.182.197.23:3000"
            },
            {
              "name": "X-Auth-Token",
              "value": "ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Authorization",
              "value": "Bearer apikey,ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Cookie",
              "value": "X-Space-Token=ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            }
          ]
        }
      },
      "id": "9a251db7-3423-4dfb-85d6-7ec74d542adc",
      "name": "Pull savings deposit details from Steedos",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        380,
        100
      ]
    },
    {
      "parameters": {
        "endpoint": "http://165.232.131.57:3000/graphql",
        "allowUnauthorizedCerts": true,
        "requestFormat": "json",
        "query": "=mutation {\n  wallet_txt__c__update(id:\"{{ $json._id }}\", doc:{mifos_txt_status__c:\"Created\",walletresourceid__c:{{ $json.resourceId }}}) {\n    _id\n    name\n    transaction_status__c\n    name \n  }\n}  ",
        "responseFormat": "string",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Origin",
              "value": "http://147.182.197.23:3000"
            },
            {
              "name": "X-Auth-Token",
              "value": "ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Authorization",
              "value": "Bearer apikey,ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            },
            {
              "name": "Cookie",
              "value": "X-Space-Token=ZlxgliiauvSA3Vy8hQWdGMVPBBGOKEY5Hl4GYeR9Cf8"
            }
          ]
        }
      },
      "id": "7ffcc1e3-adda-4a7b-9104-5f6919c30278",
      "name": "Send Deposit details back to Steedos",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1900,
        120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pull savings deposit details from Steedos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Deposit details back to Steedos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Submit deposit in Mifos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit deposit in Mifos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pull savings deposit details from Steedos": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8935c7e1-54a1-4772-8a3f-eff442584481",
  "id": "JNRHsB1bWBDheYRw",
  "meta": {
    "instanceId": "1b2627552cf67563e265c1f71ea7656c1f0fa12404f9dcfa1ca23532ded8d8e5"
  },
  "tags": []
}